Package: default-jre-8
Version: 1.0.0-1big1
Depends: openjdk-8-jre, icedtea-netx
Conflicts: default-jre, default-jre-14
Replaces: default-jre
Provides: default-jre
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:32
Description: Use openjdk jre 8 as default java in your system

